.panorama {
    position: relative;
}

.overlay{
    overflow: scroll;
    position:absolute;
    margin-top: 5%;
    padding: 20px;
    top:5%;
    left:5%;
    z-index: 1000;
    width: 500px;
    height: 500px;
    background-color: rgba(61, 61, 61, 0.424);
}

